.header {
  height: 80px;
  width: 100%;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #ffffffd7;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
}

.title {
  font-size: 22px;
}
